body{
    font-family: 'Josefin Sans' ,Alata, monospace;
    font-size: 15px;
    font-weight: 100;
}
nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(/images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 90vh;

    div{
        max-width: var(--box-width);
        margin: auto;
        ul{
            font-family: Alata, monospace;
            padding-top: 3rem;
            display: flex;
            justify-content: flex-end;
            column-gap: 1.5em;
            color: var(--white);

            @media screen and (max-width: 799px) {
                column-gap: 1em;
            }
            .logo{
                background-image: url(/images/logo.svg);
            }
            li{
                list-style: none;
                font-weight: 800;
                cursor: pointer;
                position: relative;
            }
            li::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(100% - 80%);
                width: 0%;
                height: 0.1rem;
                background-color: var(--white);
                transition: all 200ms;
            }
            li:hover::after{
                width: 60%;
            }
            li:nth-of-type(1){
                margin-right: auto;
                width: 192px;
                height: 32px;
            }
        }
        .text-box{
            margin-left: 0;
            margin-top: 6rem;
            max-width: 55%;
            color: var(--white);
            font-size: 3.8em;
            text-transform: uppercase;
            padding: 2.5rem 2rem 2rem 2.8rem;
            border: 1px solid var(--white);
            outline: none;
        }
        @media all and (max-width: 1040px) {
            .text-box{
                font-size: 2.7em;
            }
        }
        @media all and (max-width: 799px) {
            .text-box{
                font-size: 2.3em;
            }
        }
    }
}

section{
    max-width: var(--box-width);
    margin: auto;
    margin-top: 6rem;
    display: flex;

    .img-interactive{
        background-image: url(/images/desktop/image-interactive.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 731px;
        height: 500px;
    }
    .txt-container{
        align-self: flex-end;
        justify-self: flex-end;
        width: 50%;
        background-color: var(--white);
        font-size: 1rem;
        margin-left: -8rem;
        padding: 5rem 0 0 5rem;

        .txt-h1{
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            margin-top: 1.5rem;
            line-height: 1.3rem;
        }
    }
}

.grid-container{
    max-width: var(--box-width);
    margin: auto;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: 1rem;

    .img{
        max-width: 256px;
        height: 450px;
        color: var(--white);
        text-transform: uppercase;
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
        padding: 0 3rem 3rem 2.5rem;
        cursor: pointer;
        transition: all 250ms;
    }
    .img:hover{
        background-color: var(--very-dark-gray);
        opacity: 0.4;
    }
    .creation{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 2.5em;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
    }
    .see-all{
        font-family: Alata, monospace;
        letter-spacing: 0.3rem;
        grid-column: 4 /5;
        grid-row: 1 / 2;
        width: 70%;
        text-transform: uppercase;
        justify-self: flex-end;
        margin-bottom: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid var(--black);
        transition: all 200ms;
    }
    .see-all:hover{
        border: none;
        outline: none;
        background-color: var(--black);
        color: var(--white);
    }
    .deep-earth{
        grid-column: 1 /2;
        background-image: url(/images/desktop/image-deep-earth.jpg);
    }
    .night{
        grid-column: 2 /3;
        background-image: url(/images/desktop/image-night-arcade.jpg);
    }
    .soccer{
        grid-column: 3 /4;
        background-image: url(/images/desktop/image-soccer-team.jpg);
    }
    .grid{
        grid-column: 4 /5;
        background-image: url(/images/desktop/image-grid.jpg);
    }
    .vr{
        grid-column: 1 / 2;
        background-image: url(/images/desktop/image-from-above.jpg);
    }
    .pocket{
        grid-column: 2 / 3;
        background-image: url(/images/desktop/image-pocket-borealis.jpg);
    }
    .curiousity{
        grid-column: 3 / 4;
        background-image: url(/images/desktop/image-curiosity.jpg);
    }
    .fisheye{
        grid-column: 4 / 5;
        background-image: url(/images/desktop/image-fisheye.jpg);
    }

    @media all and (max-width: 1160px) {
        .img{
            padding: 0 2rem 2.5rem 1rem;
        }
    }
    @media all and (max-width: 1000px) {
        .creation{
            grid-column: 1 / 3;
        }
        .see-all{
            grid-column: 3 /4;
            grid-row: 1 / 2;
            width: 70%;
        }
        .grid{
            grid-column: 1 / 2;
        }
        .vr{
            grid-column: 2 / 3;
        }
        .pocket{
            grid-column: 3 / 4;
        }
        .curiousity{
            grid-column: 1 / 2;
        }
        .fisheye{
            grid-column: 2 / 3;
        }
    }
}
footer{
    margin-top: 8rem;
    background-color: var(--black);
    font-family: Alata, monospace;

    .footer-container{
        margin: auto;
        padding: 3rem 0;
        max-width: var(--box-width);
        color: var(--white);
        display: flex;
        justify-content: space-between;

        .left-top{

            .logo{
                background-image: url(/images/logo.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 9rem;
                height: 1.5rem;
            }
            ul{
                display: flex;
                column-gap: 1.5em;
                padding-top: 1.5rem;
                @media screen and (max-width: 799px) {
                    column-gap: 1em;
                }
                li{
                    list-style: none;
                    cursor: pointer;
                    position: relative;
                }
                li::after{
                    content: '';
                    position: absolute;
                    bottom: -0.5rem;
                    left: calc(100% - 80%);
                    width: 0%;
                    height: 0.1rem;
                    background-color: var(--white);
                    transition: all 200ms;
                }
                li:hover::after{
                    width: 60%;
                }
            }
        }

        .right-bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            ul{
                display: flex;
                column-gap: 1.2rem;

                li{
                    list-style: none;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    position: relative;
                }
                li::after{
                    content: '';
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0%;
                    width: 0%;
                    height: 0.1rem;
                    background-color: var(--white);
                    transition: all 200ms;
                }
                li:hover::after{
                    width: 100%;
                }
                .facebook{
                    background-image: url(/images/icon-facebook.svg);
                }
                .twitter{
                    background-image: url(/images/icon-twitter.svg);
                }
                .pinterest{
                    background-image: url(/images/icon-pinterest.svg);
                }
                .instagram{
                    background-image: url(/images/icon-instagram.svg);
                }
            }

            div{
                font-family: Alata, monospace;
                padding-top: 1.8rem;
                color: var(--dark-gray);
            }
        }
    }
}